<ion-view view-title="Welcome" class="welcome">
  <ion-content>
    <div class="row">
        <div class="col">
             <button ng-click="connectNeura()"
                     class="button"
                     ng-class="{'button-assertive': !neuraConnected, 'button-balanced': neuraConnected}"
             >{{neuraConnected ? 'Connected to my Neura' : 'Connect to my Neura'}}</button>
        </div>
    </div>
    <div class="row">
        <div class="col">
             <button ng-click="connectNest()"
                     class="button"
                     ng-class="{'button-assertive': !nestConnected, 'button-balanced': nestConnected}"
             >{{nestConnected ? 'Connected to my Nest' : 'Connect to my Nest'}}</button>
        </div>
    </div>
    <div class="row">
        <div class="col"><button ui-sref="app.status" class="button button-stabilized">Status</button></div>
    </div>
    <div class="row">
        <div class="col"><button ui-sref="app.logs" class="button button-light">View Logs</button></div>
    </div>
  </ion-content>
</ion-view>
